:root {
    /* Default palette (Adult) */
    --color-bg-main: #f4f5fb;
    --color-bg-secondary: #e8ebf6;
    --color-accent-light: #ccd4eb;
    --color-accent: #a0b1d9;
    --color-primary-light: #6d89c3;
    --color-primary: #4a69ad;
    --color-primary-dark: #385191;
    --color-secondary: #2f4275;
    --color-secondary-dark: #2a3a62;
    --color-secondary-darker: #273253;
    --color-text-dark: #101422;
}

body.teens {
    --color-bg-main: #f6f7f9;
    --color-bg-secondary: #ebedf3;
    --color-accent-light: #d3d7e4;
    --color-accent: #acb5cd;
    --color-primary-light: #acb5cd;
    --color-primary: #607097;
    --color-primary-dark: #4b597e;
    --color-secondary: #3e4866;
    --color-secondary-dark: #363e56;
    --color-secondary-darker: #313649;
    --color-text-dark: #272b3b;
}

body.kids {
    --color-bg-main: #f0fafb;
    --color-bg-secondary: #d8f0f5;
    --color-accent-light: #a8dce7;
    --color-accent: #84ccdc;
    --color-primary-light: #4aadc6;
    --color-primary: #2f90ab;
    --color-primary-dark: #297691;
    --color-secondary: #285f76;
    --color-secondary-dark: #285062;
    --color-secondary-darker: #254454;
    --color-text-dark: #142b38;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-bg-main);
    color: var(--color-text-dark);
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/*Header*/

header {
    background-color: var(--color-secondary);
    color: white;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5rem;
}

.brand-name {
    display: flex;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-container {
    width: 40%;
    flex-grow: 1;
    position: relative;
    margin: 0 1rem;
}

.search-input {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 9999px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-secondary-darker);
    color: white;
}

.search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}

.search-icon img {
    width: 20px;
    height: 20px;
}

.header-buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-menu {
    position: relative;
}

.user_name {
    font-weight: 700;
}

.profile-dropdown {
    width: 150px;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--color-bg-secondary);
    border-radius: 4px;
}

.profile-dropdown button {
    display: block;
    width: 100%;
    height: 30px;
    text-align: left;
    padding: 0.5rem 1rem;
    border: 0;
}

.profile-dropdown button:hover {
    background-color: var(--color-accent-light);
}

.main-container {
    display: flex;
    flex: 1;
}

/*Main*/
main {
    flex-grow: 1;
    padding: 5rem;
    overflow-y: auto;
    height: calc(100vh - 150px);
}

.plans-title {
    text-align: center;
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Contenedor de planes */
.plans-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap; /* Permitir que las tarjetas se ajusten en varias filas */
}

/* Tarjeta de plan */
.plan-card {
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-accent-light);
    border-radius: 8px;
    padding: 1.5rem;
    width: 300px; /* Ancho fijo para las tarjetas */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Tarjeta de plan destacada */
.plan-card.highlighted {
    border-color: var(--color-primary);
}

/* Títulos de tipo de plan */
.plan-type {
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

/* Subtítulos de plan */
.plan-subtitle {
    font-size: 1rem;
    color: var(--color-secondary-dark);
    margin-bottom: 0.5rem;
}

/* Precio del plan */
.plan-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

/* Periodo de cobro */
.plan-period {
    font-size: 0.9rem;
    color: var(--color-secondary-dark);
    margin-bottom: 1rem;
}

/* Beneficios */
.plan-benefits {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1rem;
}

.plan-benefits li {
    margin-bottom: 0.5rem;
    color: var(--color-text-dark);
}

/* Botón de suscripción */
.plan-button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--color-primary);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.plan-button:hover {
    background-color: var(--color-primary-dark);
}

/* Efecto hover en las tarjetas */
.plan-card:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .main-container {
        flex-direction:  column;
    }
}