:root {
    /*Paleta Adulto
    --color-bg-main: #f4f5fb;
    --color-bg-secondary: #e8ebf6;
    --color-accent-light: #ccd4eb;
    --color-accent: #a0b1d9;
    --color-primary-light: #6d89c3;
    --color-primary: #4a69ad;
    --color-primary-dark: #385191;
    --color-secondary: #2f4275;
    --color-secondary-dark: #2a3a62;
    --color-secondary-darker: #273253;
    --color-text-dark: #101422;
    */

    /*Paleta Adolescente
    --color-bg-main: #f6f7f9;
    --color-bg-secondary: #ebedf3;
    --color-accent-light: #d3d7e4;
    --color-accent: #acb5cd;
    --color-primary-light: #acb5cd;
    --color-primary: #607097;
    --color-primary-dark: #4b597e;
    --color-secondary: #3e4866;
    --color-secondary-dark: #363e56;
    --color-secondary-darker: #313649;
    --color-text-dark: #272b3b;
*/

    /*Paleta Niños*/
    --color-bg-main: #f0fafb;
    --color-bg-secondary: #d8f0f5;
    --color-accent-light: #a8dce7;
    --color-accent: #84ccdc;
    --color-primary-light: #4aadc6;
    --color-primary: #2f90ab;
    --color-primary-dark: #297691;
    --color-secondary: #285f76;
    --color-secondary-dark: #285062;
    --color-secondary-darker: #254454;
    --color-text-dark: #142b38;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-bg-main);
    color: var(--color-text-dark);
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/*Header*/

header {
    background-color: var(--color-secondary);
    color: white;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5rem;
}

.brand-name {
    display: flex;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-container {
    width: 40%;
    flex-grow: 1;
    position: relative;
    margin: 0 1rem;
}

.search-input {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 9999px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-secondary-darker);
    color: white;
}

.search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}

.search-icon img {
    width: 20px;
    height: 20px;
}

.header-buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-menu {
    position: relative;
}

.user_name {
    font-weight: 700;
}

.profile-dropdown {
    width: 150px;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--color-bg-secondary);
    border-radius: 4px;
}

.profile-dropdown button {
    display: block;
    width: 100%;
    height: 30px;
    text-align: left;
    padding: 0.5rem 1rem;
    border: 0;
}

.profile-dropdown button:hover {
    background-color: var(--color-accent-light);
}

.main-container {
    display: flex;
    flex: 1;
}

/*Main*/
main {
    flex-grow: 1;
    padding: 5rem;
    overflow-y: auto;
    height: calc(100vh - 150px);
}

/*Curso*/
.portada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: var(--color-bg-secondary);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Previene que el contenido se salga del contenedor */
}

.portada-info {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    word-wrap: break-word; /* Asegura que el texto se ajuste al contenedor */
    overflow: hidden; /* Evita el desbordamiento */
}

.course-cover {
    background-color: var(--color-bg-secondary);
    overflow: hidden;
}

.course-cover img {
    width: 100%;
    height: auto; /* Asegura que la imagen mantenga su proporción */
    object-fit: cover;
    object-position: center;
}

.course-title {
    color: var(--color-secondary-dark);
    margin-bottom: 1rem;
    font-size: 1.5rem; /* Ajusta el tamaño para dispositivos pequeños */
}

.course-description {
    margin-bottom: 1rem;
    font-size: 1rem; /* Reduce el tamaño del texto si es necesario */
    line-height: 1.5; /* Mejora la legibilidad */
}

.course-age {
    display: inline-block;
    background-color: var(--color-accent-light);
    color: var(--color-secondary-dark);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.course-info {
    padding: 2rem;
    background-color: var(--color-bg-main);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-modules {
    margin-top: 2rem;
}

.module {
    background-color: var(--color-bg-secondary);
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.module-number {
    background-color: var(--color-primary);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 1rem;
    flex-shrink: 0;
}

.module-content {
    flex-grow: 1;
}

.module-title {
    color: var(--color-secondary-dark);
    margin-bottom: 0.5rem;
}

.module-description {
    margin-bottom: 1rem;
}

.module-image {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 1rem;
}


@media (max-width: 768px) {

    .header-content .logo-container a {
        display: none;
    }
    .main-container {
        flex-direction:  column;
    }
    .module {
        flex-direction: column;
    }

    .module-image {
        width: 100%;
        height: 150px;
        margin-left: 0;
        margin-top: 1rem;
    }

    .portada {
        grid-template-columns: 1fr; /* Una sola columna */
        grid-template-rows: auto auto; /* Imagen arriba, texto abajo */
        text-align: center; /* Centra el contenido */
    }

    .course-cover {
        order: 1; /* Imagen sube */
    }

    .portada-info {
        order: 2; /* Texto baja */
        padding: 20px;
        text-align: left; /* Mantiene alineado el texto */
    }

    .course-description {
        font-size: 0.9rem; /* Reduce el tamaño del texto */
        word-wrap: break-word; /* Ajusta el texto dentro del contenedor */
    }

    .portada-info,
    .course-cover {
        width: 100%; /* Asegura que ambos ocupen todo el ancho */
    }
}