:root {
    /*Paleta Adulto*/
    --color-bg-main: #f4f5fb;
    --color-bg-secondary: #e8ebf6;
    --color-accent-light: #ccd4eb;
    --color-accent: #a0b1d9;
    --color-primary-light: #6d89c3;
    --color-primary: #4a69ad;
    --color-primary-dark: #385191;
    --color-secondary: #2f4275;
    --color-secondary-dark: #2a3a62;
    --color-secondary-darker: #273253;
    --color-text-dark: #101422;

    /*Paleta Adolescente
    --color-bg-main: #f6f7f9;
    --color-bg-secondary: #ebedf3;
    --color-accent-light: #d3d7e4;
    --color-accent: #acb5cd;
    --color-primary-light: #acb5cd;
    --color-primary: #607097;
    --color-primary-dark: #4b597e;
    --color-secondary: #3e4866;
    --color-secondary-dark: #363e56;
    --color-secondary-darker: #313649;
    --color-text-dark: #272b3b;
    */

    /*Paleta Niños
    --color-bg-main: #f0fafb;
    --color-bg-secondary: #d8f0f5;
    --color-accent-light: #a8dce7;
    --color-accent: #84ccdc;
    --color-primary-light: #4aadc6;
    --color-primary: #2f90ab;
    --color-primary-dark: #297691;
    --color-secondary: #285f76;
    --color-secondary-dark: #285062;
    --color-secondary-darker: #254454;
    --color-text-dark: #142b38;
    */
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-bg-main);
    color: var(--color-text-dark);
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: var(--color-secondary);
    color: white;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5rem;
}

.brand-name {
    display: flex;
}

.search-container {
    width: 40%;
    flex-grow: 1;
    position: relative;
    margin: 0 1rem;
}

.search-input {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 9999px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-secondary-darker);
    color: white;
}

.search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}

.search-icon img {
    width: 20px;
    height: 20px;
}

.header-buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-menu {
    position: relative;
}

.profile-dropdown {
    width: 150px;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--color-bg-secondary);
    border-radius: 4px;
}

.profile-dropdown button {
    display: block;
    width: 100%;
    height: 30px;
    text-align: left;
    padding: 0.5rem 1rem;
    border: 0;
}

.profile-dropdown button:hover {
    background-color: var(--color-accent-light);
}

.main-container {
    display: flex;
    flex: 1;
}

.sidebar {
    transition: 0.5s;
    padding-top: 1rem;
    width: 300px;
    max-width: 100%;
    min-width: 300px;
    overflow: hidden;
    background-color: var(--color-accent-light);
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar button {
    width: 90%;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    gap: 10px;
    border: none;
    display: flex;
    padding: 0.5rem;
    background-color: var(--color-accent-light);
    color: var(--color-secondary-dark);
    border-radius: 4px;
    cursor: pointer;
}

.sidebar button:hover {
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: var(--color-accent);
    margin: 0;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

.sidebar button img {
    width: 20px;
    height: 20px;
}

main {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
    height: calc(100vh - 120px);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.schools, .courses, .final-courses {
    margin-bottom: 2rem;
}

.carousel {
    position: relative;
}

.carousel::after {
    display: none;
}

.carousel-content {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.card-school {
    flex: 1;
    width: 110px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-school:hover {
    .card-school-image {
        background-color: rgba(255, 255, 255, 0.1) ;
    }
}

.card-school-image {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-accent);
    display: inline-block;
}


.card-school-content {
    margin: auto;
    position: relative;
    display: flex;
    text-align: center;
}

.card-school h4 {
    font-size: 12px;
}

.card {
    flex: 1;
    width: 300px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
}

.card-image {
    position: relative;
    background-color: var(--color-accent);
    display: inline-block;
    width: 300px;
    height: 150px;
    border-radius: 10px 10px 0 0;
    background-color: var(--color-accent);
}

.card-content {
    padding: 10px;
    margin: auto;
    position: relative;
    display: flex;
    text-align: center;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction:  column;
    }

    .sidebar {
        width: 100%;
    }

    .sidebar nav {
        flex-direction: row;
        overflow-x: auto;
    }

    .sidebar button {
        white-space: nowrap;
    }
}